# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nadav ashkenazi\OneDrive - Technion\Technion\semester_6\Operating Systems\hw\hw2\os_hw2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
